body{
    background-image: url("img/background.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
}

.sfondogrigio{
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    margin-top: 30px;
    width:65%;
    border-radius: 10px;
    padding-bottom: 3%;
}

.logoalto{
    width: 20%;
    margin-top: 80px;
}

h1{
    color: rgb(20, 164, 20); 
    margin-top: 2px;
}

.bottoni{
    background-color: rgb(33, 180, 33);
    margin-top: -2%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.monopattini{
    text-align: left;
    margin-top: 20px;
    margin-left: 10%;
    color: white;
}

.grande{
    font-size: 170%;
}

.carica1 , .carica2 ,.carica3{
    height: 28px;
    border-radius: 5px;
}

.carica1{
    background-color: rgb(248,180,84);
    width: 35%;
    
}

.carica2{
    background-color: rgb(33, 180, 33);
    width: 55%;
}

.carica3{
    background-color: rgb(192,64,72);
    width: 18%;
}